.content{
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join{
    display: flex;
    flex-direction: row;
    width: 100% ;
}

.create-btn{
    width: 100%;
}

.message-box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages{
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs{
    padding: 10px;
    display: flex;
}
h2 {
    text-align: center;
}

#message{
    flex: 1;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}
.messageblock{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #84D4AC; /* Light gray background for the bubble */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
    max-width: 50%;
    word-wrap: break-word;

}

.timemuted{
    font-size: 15px;
    color: darkgray;
}